./binaries/world/bin/** */
./binaries/world/obj/** */
./binaries/shared/obj/** */
./binaries/shared/bin/** */
./binaries/logon/bin/** */
./binaries/logon/obj/** */
./binaries/realm/obj/** */
./binaries/realm/bin/** */
